html,
body {
	margin:0;
	padding:0;
	height:100%;


}

#rightMenu{
	position: absolute;
	padding:0;
	right: 0%;
	width: 40%;
	height: 100%;
	background-color: #3767B1;
	box-shadow:0px -8px 5px 13px #3767B1;
}
#rightMenu ul{
	list-style:none;

}


#howWorks{
	margin-top: 14%;
	margin-left: 30%;

}
#howWorksExplanation, #needExplanation, #newsExplanation{
	margin-top: 0%;
	margin-right: 10%;
	color:white;
	font-family: 'Roboto', sans-serif;
	text-align:center;
	line-height: 150%;
	font-weight: bold;
}
#need, #newsLetter{
	margin-top: 10%;
	margin-left: 30%;
}

#home{
	margin-top: 10%;
	margin-left: 37%;

}

#rightMenu a{
	text-decoration:none;
	font-size: 130%;
	color:white;
	font-family: 'Roboto:700', sans-serif;

}

#container{
	width: 60%;
	height: 100%;
}
#logo img{
	margin-top: 5%;
	margin-left: 15%;
	width: 75%;
	height: 75%;
}

.picturesTable{
  display: table;
	padding-left: 10%;
}
.Row{
  display: table-row;
}
.Cell{
  display: table-cell;

  padding-right: 80px;
	padding-top: 30px;

}
.Cell img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:3;
}
