body{
  padding-left: 0;
}
.container-fluid{
  padding-left: 0;
}
#logo{
  padding-top: 5%;
  padding-left: 15%
}
#rightCol{
  padding-top: 10%;
  padding-bottom: 0;
  height: 832px;
  background-color: #3767B1;
  box-shadow:0px -8px 5px 13px #3767B1;

}
#rightCol a:hover{
  background-color: #3767B1;
}
#rightCol a:focus{
  background-color: #3767B1;
}

#rightCol a{
  text-align:center;

  padding-bottom: 10%;
  font-family: 'Roboto:700', sans-serif;
  color: white;
  font-size: 140%;
}

#teamExplanation{
  color:white;
	font-family: 'Roboto', sans-serif;
  text-align:center;
	line-height: 150%;
  font-size: 120%;
	font-weight: bold;
}
#howWorksExplanation, #needExplanation, #newsExplanation{
  padding-left: 2%;
	color:white;
	font-family: 'Roboto', sans-serif;
	text-align:center;
	line-height: 150%;
	font-weight: bold;
  font-size: 110%;
}
.letter{
  padding-top: 15%;
  font-family: 'Roboto', sans-serif;
  text-align:center;
  font-size: 200%;
}
